/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 * SPDX-FileCopyrightText: 2020 - 2021 STA <info@sta.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@mixin map_dimensions_tns() {
  -webkit-transition: height 0.35s ease-out, width 0.35s ease;
  -moz-transition: height 0.35s ease-out, width 0.35s ease;
  -o-transition: height 0.35s ease-out, width 0.35s ease;
  transition: height 0.35s ease-out, width 0.35s ease;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin appearance($property) {
  -webkit-appearance: $property;
  -moz-appearance: $property;
  appearance: $property;
}
